/* Estilos generales */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e6e4e4; /* Cambia el color de fondo según prefieras */
    font-family: 'Roboto', sans-serif; /* Aplicamos la fuente Roboto */
    background-image: url(fondo.png);
    background-repeat: no-repeat;
}

/* Contenedor centrado para la imagen */
.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 900px; /* Ajusta el ancho máximo */
    padding: 20px;
    filter: blur(10%);
    
}

.image-container--a{
    color: #b0b0b0;
    text-decoration: none;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 19px;
}

.image-container--a:visited{
    color:#b0b0b0;
    text-decoration: none;
}
.image-container--a:hover{
    color: #1c1516;
}
.lato-thin {
font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-size: 10px;
  font-style: normal;
  font-variation-settings:"wdth" 40;
  }



/* Imagen responsiva */
.hover-image {
    max-width: 90%;
    max-height: 70vh;
    width: auto;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s;
}

/* Efecto de hover en la imagen */
.hover-image:hover {
    transform: scale(1.05);
}

/* Estilos del título */
.title {
    font-size: 2rem; /* Tamaño del título */
    font-weight: 500;
    margin: 20px 0 10px;
    color: #904a3e;
}

/* Estilos del párrafo descriptivo */
.description {
    font-size: 1.2rem; /* Tamaño del párrafo */
    color: #555;
    line-height: 1.6;
    max-width: 90%; /* Controla el ancho del texto */
}

/* Media Query para pantallas más pequeñas */
@media (max-width: 600px) {
    .hover-image {
        max-width: 100%;
        max-height: 60vh;
    }

    .title {
        font-size: 1.5rem;
    }

    .description {
        font-size: 1rem;
    }
}
